@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}



@* 
@if (TempData["Success"] != null)
{

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"] ✅
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"] ❌
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
} *@


<h1>Index</h1>

<partial name="_NotificationPartial" />

<div class="text-end">
    <a asp-action="create" class="btn btn-primary mb-3">Create New</a>
</div>

<div class="bg-white">
    <table class="table table-bordered table-striped mb-3">

        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emps in Model)
            {
                <tr>
                    <td>@emps.Id</td>
                    <td>@emps.Name</td>
                    <td>@emps.Phone</td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@emps.Id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@emps.Id" class="btn btn-danger">Delete</a>

                    </td>
                </tr>

            }


        </tbody>



    </table>

</div>
